.banner {
    background-image: url("https://img.freepik.com/free-vector/medical-healthcare-blue-color_1017-26807.jpg");
    background-position: center;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vmin;
    display: flex;
    flex-direction: column;
    /* text-align: center;
    align-items: center;
    justify-content: center; */
    color: white;
  }